  .details-wrapper {
    justify-content: space-between; 
  }
  .labelTextForPremium{
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}
.valueTextForPremium{
    /* font-weight: bold; */
    color: rgba(0, 0, 0, 0.8);
    line-height: 2;
}
  
  /* Mobile View */
  @media only screen and (max-width: 768px) {
    .premiumDetailBox{
        margin-top: 10px;
    }
    .labelTextForPremium{
        margin-top: 0px;
        font-size: 12px ;
    }
    .valueTextForPremium{
        line-height: 1.2;
        font-size: 13px;
    }
  }
  